h2 Detail Post

<p>
= @detail.title
</p>
<p>
= @detail.post
</p>
<p>
= @detail.inserted_at
</p>		

<p>
  <input type="button" name="b1" value="Home" onclick="location.href='/'">
  </p>
  
 